@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>This site allows you to manage your collection of jokes. Users can create, edit, delete and view jokes in a user-friendly interface.</p>
</div>
